<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Document</title>
  </head>
  <body>
    <form name="prac">
      <fieldset>
        <legend>회원정보 삭제</legend>
        <input type="text" name="userid" placeholder="유저아이디" /><br />
        <input type="text" name="name" placeholder="이름" /><br />
        <input type="password" name="password" placeholder="비밀번호" /><br /><br />
        <div class="btn-group">
          <button type="button" onclick="location.href='delete.ejs'">회원정보 삭제</button>
        </div>
      </fieldset>
    </form>
  </body>
</html>