<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Document</title>
  </head>
  <body>

    <fieldset>
      <legend>로그인 정보</legend>
      <form name="form-info" action="/profile" method="POST">
        <input type="hidden" name="id">
      </form>
      <form name="prac">
        <label for="ID">ID : </label>
        <input type="text" name="userid" placeholder="유저아이디" /><br />
        <label for="password">P.W : </label>
        <input type="password" name="password" placeholder="비밀번호" /><br /><br />
        <div class="btn-group">
          <button type="button" onclick="login()">로그인</button>
          <button type="button"><a href="/signup">회원가입</a></button>
        </div>
      </form>
    </fieldset>
  </body>
  <script>
    function login() {
      var form = document.forms["prac"];
      if (!form.checkValidity()) {
        form.reportValidity();
        console.log("reportValidity");
        return false;
      }
      let data = {
        id: form.id.value,
        userid: form.userid.value,
        password: form.password.value,
        name: form.name.value
      };
      axios({
        method: 'post',
        url: '/login',
        data: data
      }).then((res) => {
        if (res.data.result == true) {
          var form_info = document.forms["form-info"];
          form_info.id.value = res.data.id;
          form_info.submit();
        } else {
          alert("실패!");
        }
      });
    }
  </script>
</html>