<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-grid.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-reboot.min.css' />
    <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendors/jquery/jquery.min.js "></script>
    <title>Document</title>
  </head>
  <body>
    <form name="prac">
      <fieldset>
        <legend>회원정보 수정를 수정합니다</legend>
        <input type="text" name="userid" placeholder="유저아이디" /><br />
        <input type="password" name="password" placeholder="비밀번호" /><br /><br />
        <div class="btn-group">
          <button type="button"><a href="/update">회원정보 수정</a></button>
        </div>
      </fieldset>
    </form>
  </body>
</html>