/* static, relative, absolute, fixed */
/* top, right, bottom, left, z-index  */

.box {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: red;
}

.item1 {
  height: 50px;
  width: 50px;
  position: relative;
  left: 50px;
  top: 30px;
  background-color: blue;
}

.item2 {
  position: absolute;
  right: 30px;
  bottom: 100px;
  height: 50px;
  width: 50px;
  background-color: yellow;
}

.item3 {
  position: fixed;
  right: 100px;
  top: 100px;
  height: 50px;
  width: 50px;
  background-color: green;
}

/* 부모요소는 z-index를 해도 위로 안올라옴ㅋ */
.container1 {
  position: relative;
  height: 200px;
  width: 400px;
  background-color: blue;
}

.item {
  position: absolute;
  width: 100px;
  height: 100px;
}

.red {
  z-index: 3;
  background-color: red;
}

.or {
  z-index: 2;
  top: 20px;
  left: 20px;
  background-color: orange;
}

.yellow {
  z-index: 1;
  top: 40px;
  left: 40px;
  background-color: yellow;
}
