/* * {
  color: aqua;
} */

/* div {
  height: 10px;
  background-color: bisque;
} */

/* class 선택자 */
.deep {
  color: rgb(9, 1, 6);
}

/* ID 선택자 */
#power {
  color: brown;
}

.bg-red {
  background-color: red;
}

/* 하위 선택자 */
div .apple {
  color: deeppink;
}

/* 자식 선택자 */
div > .apple {
  color: blueviolet;
}

/* 인접 형제 선택자 */
h1 + ul {
  font-size: 25px;
  color: blue;
}
/* 일반형제 선택자 */
h1 ~ ul {
  font-size: 25px;
  color: blue;
}
/* .red {
  background-color: red;
  width: 20px;
  height: 50px;
  margin: 0;
}
.orange {
  background-color: orange;
  width: 40px;
  height: 50px;
  margin: 0;
}

.yellow {
  background-color: yellow;
  width: 60px;
  height: 50px;
  margin: 0;
}

.green {
  background-color: green;
  width: 80px;
  height: 50px;
  margin: 0;
}

.blue {
  background-color: blue;
  width: 100px;
  height: 50px;
  margin: 0;
}

.navy {
  background-color: navy;
  width: 120px;
  height: 50px;
  margin: 0;
}

.purple {
  background-color: purple;
  width: 140px;
  height: 50px;
  margin: 0;
} */
